.button{
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 13px;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color .1s ease;

  &:focus, &:hover{
    text-decoration: none;
    color: #fff;
  }
}