@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ){
  @font-face{
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    src: url('#{$file-path}') format('truetype')

  }

}

@include font-face('Montserrat','../fonts/Montserrat-Black.ttf');
@include font-face('Montserrat','../fonts/Montserrat-Bold.ttf', bold);
@include font-face('Montserrat','../fonts/Montserrat-Light.ttf', 300);
@include font-face('Montserrat','../fonts/Montserrat-Regular.ttf');
@include font-face('Montserrat','../fonts/Montserrat-Thin.ttf', 100);
